// Theme colors of the website
$White: #fff;
$Black: #000;

// Primary Colors: Blue
$Primary: #3578e5;
$Primary-dark: #306cce;
$Primary-darker: #2d66c3;
$Primary-darkest: #2554a0;
$Primary-light: #538ce9;
$Primary-lighter: #72a1ed;
$Primary-lightest: #9abcf2;

// Secondary Colors: Gray
$Secondary: #ebedf0;
$Secondary-dark: #d4d5d8;
$Secondary-darker: #c8c9cc;
$Secondary-darkest: #a4a6a8;
$Secondary-light: #eef0f2;
$Secondary-lighter: #f1f2f5;
$Secondary-lightest: #f5f6f8;

// Success Colors: Green
$Success: #00a400;
$Success-dark: #009400;
$Success-darker: #008b00;
$Success-darkest: #007300;
$Success-light: #26b226;
$Success-lighter: #4dbf4d;
$Success-lightest: #80d280;

// Info Colors: Cyan
$Info: #54c7ec;
$Info-dark: #4cb3d4;
$Info-darker: #47a9c9;
$Info-darkest: #3b8ba5;
$Info-light: #6ecfef;
$Info-lighter: #87d8f2;
$Info-lightest: #aae3f6;

// Warning Colors: Yellow
$Warning: #ffba00;
$Warning-dark: #e6a700;
$Warning-darker: #d99e00;
$Warning-darkest: #b38200;
$Warning-light: #ffc426;
$Warning-lighter: #ffcf4d;
$Warning-lightest: #ffdd80;

// Danger Colors: Red
$Danger: #fa383e;
$Danger-dark: #e13238;
$Danger-darker: #d53035;
$Danger-darkest: #af272b;
$Danger-light: #fb565b;
$Danger-lighter: #fb7478;
$Danger-lightest: #fd9c9f;

// Other Colors:
